:root {
  --header-color-background: #26282a;
  --header-color-text: white;
}

.header {
  font-size: 14px;
  font-weight: 500;
  background-color: var(--header-color-background);
  color: var(--header-color-text);
}