.app {
    background: url("../assets/background.jpg") no-repeat center center;
    background-size: cover;
    .fixed,
    .content {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }
    .fixed {
        padding-bottom: unset;
    }
    button {
        padding: 0.5rem;
        background-color: black;
        border: 1px solid rgba(white, 0.8);
        color: white;
        border-radius: 5px;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 4px rgba(white, 0.4);
    }
}