.catalogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .catalog {
    background: #FFF;
    margin: 40px auto;

    &.skeleton {
    }

  }

}