.container {
    &+.container {
        margin-top: 1rem;
    }
    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 56px 1fr 56px;
        background-color: var(--header-color-background);
        color: var(--header-color-text);
        .title {
            padding: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &.collapsible {
            cursor: pointer;
        }
    }
    .content {
        background-color: rgba(white, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}