.song {
    &+.song {
        margin-top: 1rem;
    }
    .details,
    .preview {
        display: grid;
        grid-template-areas: "title title" "play stop";
        .title {
            grid-area: title;
        }
        .icon {
            padding: 1rem 1rem 0 1rem;
        }
    }
    .button {
        padding: 1rem;
        cursor: pointer;
    }
}